/* CSS for website */
.book.color-theme-2 .book-body {
  color: #f8f8f8;
  background: url("/styles/lander5.jpg") fixed;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section {
  background: transparent;
}